@use '../functions/sizing' as sizing;

.blank-slate {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: sizing.toRem(320);

  &__text{
    font-size: var(--font-size-4);
    font-weight: bold;
    text-align: center;
  }
}
