@use "../functions/sizing" as sizing;

.mention-input {

  &__input,
  &__canvas {
    padding: var(--gap-width-4);

    width: 100%;
    min-height: sizing.toRem(400);

    border-radius: 6px;
  }

  &__canvas {
    border: 1px solid white;

    background-color: white;
  }
}
