@use "../functions/sizing" as sizing;
@use "../mixins/media-queries" as media;

.note-editor {
  min-height: sizing.toRem(400);
}

.note-editor__tab {

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-list {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-width-4);

    padding-block: var(--gap-width-2);
  }

  &-item {
    padding: sizing.toRem(4) sizing.toRem(24);

    border-radius: sizing.toRem(24);

    @media (prefers-color-scheme: dark) {
      color: var(--accent-color);
    }
  }

  &-item.active {
    color: white;
    background-color: var(--accent-color);
  }

  &-pane {
    display: none;
  }

  &-pane.active {
    display: block;
  }
}

.note-editor__toolbar {
  padding-block: var(--gap-width-2);
  border-top: 1px solid var(--color-blue-300);

  overflow-y: auto;

  button {
    white-space: pre;
  }

  &-item {
    display: inline-flex;
    gap: var(--gap-width-2);
  }

  &-label {
    display: none;

    font-weight: bold;

    @include media.breakpoint(lg) {
      display: block;
    }
  }
}
