// Variables for use in media queries

$breakpoint-sm: 48rem;
$breakpoint-lg: 64rem;

:root {
  --body-background: oklch(93% 0.02 248);
  --body-color: oklch(0 0 0);
  --body-line-height: 1.75;

  // Grid
  --grid-max-width: 71.25rem;

  --gap-width-1: 0.5em;
  --gap-width-2: 1em;
  --gap-width-3: 1.5em;
  --gap-width-4: 2em;

  // Colors
  --accent-color: var(--color-blue-900);
  --secondary-color: var(--color-rust-100);

  --color-blue-100: oklch(93% 0.02 250);
  --color-blue-300: oklch(84% 0.05 248);
  --color-blue-500: oklch(74% 0.058 246);
  --color-blue-900: oklch(31% 0.052 217);

  // Typography
  --heading-color: oklch(30% 0.1 38.7);

  --font-size-1: 0.75em;
  --font-size-2: 0.875em;
  --font-size-3: 1em;
  --font-size-4: 1.125em;
  --font-size-5: 1.25em;

  --font-heading-1: 4em;
  --font-heading-2: 2.25em;
  --font-heading-3: 1.5em;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
      'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
      'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  // Borders
  --border-radius: 0.75em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: oklch(0 0 0);
    --body-color: oklch(100% 0 0);
  }
}
