{
  "log": {
    "_recordingName": "notes/view-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6f022fab58684a4e332f383dbad1e9c3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://challenge.surfe.com/aloha/notes"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 3033,
            "text": "[\n  {\n    \"id\": 0,\n    \"body\": \"No need to talk to users, just base it on the space calculator we should leverage existing asserts that ladder up to the message fire up your browser circle back around, or conversational content , yet increase the pipelines, yet i need to pee and then go to another meeting. Canatics exploratory investigation data masking old boys club staff engagement gain traction churning anomalies. The closest elephant is the most dangerous i am dead inside, but pulling teeth, for what's our go to market [...]
